body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1325px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7977 {
  position:absolute;
  left:645px;
  top:505px;
  width:32px;
  height:32px;
}
#u7978 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:840px;
}
#u7979 {
  position:absolute;
  left:217px;
  top:473px;
  width:473px;
  height:840px;
}
#u7980 {
  position:absolute;
  left:2px;
  top:412px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:840px;
}
#u7981 {
  position:absolute;
  left:813px;
  top:473px;
  width:473px;
  height:840px;
}
#u7982 {
  position:absolute;
  left:2px;
  top:412px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:65px;
}
#u7983 {
  position:absolute;
  left:628px;
  top:1177px;
  width:89px;
  height:65px;
}
#u7984 {
  position:absolute;
  left:2px;
  top:24px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:65px;
}
#u7985 {
  position:absolute;
  left:1221px;
  top:1084px;
  width:89px;
  height:65px;
}
#u7986 {
  position:absolute;
  left:2px;
  top:24px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1120px;
}
#u7987 {
  position:absolute;
  left:179px;
  top:1512px;
  width:550px;
  height:1120px;
}
#u7988 {
  position:absolute;
  left:2px;
  top:552px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:595px;
}
#u7989 {
  position:absolute;
  left:216px;
  top:1653px;
  width:476px;
  height:595px;
}
#u7990 {
  position:absolute;
  left:2px;
  top:290px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:251px;
}
#u7991 {
  position:absolute;
  left:216px;
  top:2248px;
  width:476px;
  height:251px;
}
#u7992 {
  position:absolute;
  left:2px;
  top:118px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:139px;
}
#u7993 {
  position:absolute;
  left:215px;
  top:2107px;
  width:478px;
  height:139px;
}
#u7994 {
  position:absolute;
  left:2px;
  top:62px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:23px;
}
#u7995 {
  position:absolute;
  left:227px;
  top:2118px;
  width:235px;
  height:23px;
}
#u7996 {
  position:absolute;
  left:2px;
  top:4px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7997 {
  position:absolute;
  left:227px;
  top:2125px;
  width:57px;
  height:16px;
}
#u7998 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
}
#u7999 {
  position:absolute;
  left:297px;
  top:2200px;
  width:155px;
  height:17px;
}
#u8000 {
  position:absolute;
  left:2px;
  top:0px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8001 {
  position:absolute;
  left:300px;
  top:2201px;
  width:141px;
  height:16px;
  color:#999999;
}
#u8002 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u8003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:22px;
}
#u8003 {
  position:absolute;
  left:227px;
  top:2246px;
  width:333px;
  height:22px;
}
#u8004 {
  position:absolute;
  left:2px;
  top:3px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8005 {
  position:absolute;
  left:614px;
  top:2194px;
  width:62px;
  height:30px;
}
#u8006 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u8007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:861px;
}
#u8007 {
  position:absolute;
  left:775px;
  top:1512px;
  width:550px;
  height:861px;
  color:#666666;
}
#u8008 {
  position:absolute;
  left:2px;
  top:422px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:198px;
}
#u8009 {
  position:absolute;
  left:775px;
  top:2298px;
  width:550px;
  height:198px;
  color:#666666;
}
#u8010 {
  position:absolute;
  left:2px;
  top:91px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:712px;
}
#u8011 {
  position:absolute;
  left:813px;
  top:1653px;
  width:474px;
  height:712px;
}
#u8012 {
  position:absolute;
  left:2px;
  top:348px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8013 {
  position:absolute;
  left:822px;
  top:1924px;
  width:456px;
  height:118px;
}
#u8014 {
  position:absolute;
  left:2px;
  top:51px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:25px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8015 {
  position:absolute;
  left:822px;
  top:1924px;
  width:456px;
  height:50px;
}
#u8016 {
  position:absolute;
  left:2px;
  top:17px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8017 {
  position:absolute;
  left:846px;
  top:1934px;
  width:31px;
  height:31px;
}
#u8018 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u8019 {
  position:absolute;
  left:887px;
  top:1940px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u8020 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
}
#u8021 {
  position:absolute;
  left:1211px;
  top:1953px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#666666;
}
#u8022 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u8023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#434343;
}
#u8023 {
  position:absolute;
  left:846px;
  top:1988px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#434343;
}
#u8024 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8025 {
  position:absolute;
  left:846px;
  top:2014px;
  width:186px;
  height:15px;
  color:#666666;
}
#u8026 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u8027_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u8027 {
  position:absolute;
  left:1044px;
  top:1882px;
  width:25px;
  height:25px;
}
#u8028 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u8029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8029 {
  position:absolute;
  left:179px;
  top:121px;
  width:577px;
  height:80px;
  font-size:14px;
}
#u8030 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  word-wrap:break-word;
}
#u8031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1120px;
}
#u8031 {
  position:absolute;
  left:179px;
  top:332px;
  width:550px;
  height:1120px;
}
#u8032 {
  position:absolute;
  left:2px;
  top:552px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1120px;
}
#u8033 {
  position:absolute;
  left:775px;
  top:332px;
  width:550px;
  height:1120px;
}
#u8034 {
  position:absolute;
  left:2px;
  top:552px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
