body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2126px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u0 {
  position:absolute;
  left:525px;
  top:963px;
  width:32px;
  height:32px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2 {
  position:absolute;
  left:634px;
  top:1658px;
  width:429px;
  height:92px;
  font-size:14px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:60px;
  top:558px;
  width:222px;
  height:100px;
  font-size:20px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:2px;
  top:38px;
  width:218px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:840px;
}
#u6 {
  position:absolute;
  left:97px;
  top:931px;
  width:473px;
  height:840px;
}
#u7 {
  position:absolute;
  left:2px;
  top:412px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:840px;
}
#u8 {
  position:absolute;
  left:1140px;
  top:931px;
  width:473px;
  height:840px;
}
#u9 {
  position:absolute;
  left:2px;
  top:412px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:65px;
}
#u10 {
  position:absolute;
  left:514px;
  top:1650px;
  width:89px;
  height:65px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:65px;
}
#u12 {
  position:absolute;
  left:1555px;
  top:1536px;
  width:89px;
  height:65px;
}
#u13 {
  position:absolute;
  left:2px;
  top:24px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u14 {
  position:absolute;
  left:1697px;
  top:1658px;
  width:429px;
  height:121px;
  font-size:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:60px;
  top:2021px;
  width:202px;
  height:91px;
  font-size:20px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:2px;
  top:34px;
  width:198px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1120px;
}
#u19 {
  position:absolute;
  left:60px;
  top:2314px;
  width:550px;
  height:1120px;
}
#u20 {
  position:absolute;
  left:2px;
  top:552px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:850px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:98px;
  top:2456px;
  width:474px;
  height:850px;
}
#u22 {
  position:absolute;
  left:2px;
  top:417px;
  width:470px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u23 {
  position:absolute;
  left:641px;
  top:2769px;
  width:300px;
  height:224px;
  font-size:14px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u25 {
  position:absolute;
  left:641px;
  top:2698px;
  width:25px;
  height:25px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u27 {
  position:absolute;
  left:428px;
  top:2851px;
  width:25px;
  height:25px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1120px;
}
#u30 {
  position:absolute;
  left:1087px;
  top:2314px;
  width:550px;
  height:1120px;
}
#u31 {
  position:absolute;
  left:2px;
  top:552px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:850px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:1125px;
  top:2456px;
  width:474px;
  height:850px;
}
#u33 {
  position:absolute;
  left:2px;
  top:417px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u34 {
  position:absolute;
  left:1447px;
  top:2816px;
  width:25px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:1313px;
  top:2903px;
  width:93px;
  height:33px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u38 {
  position:absolute;
  left:1281px;
  top:2864px;
  width:157px;
  height:16px;
  font-size:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u40 {
  position:absolute;
  left:1661px;
  top:2851px;
  width:399px;
  height:152px;
  font-size:14px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u42 {
  position:absolute;
  left:1676px;
  top:2816px;
  width:25px;
  height:25px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1885px;
  height:481px;
}
#u44 {
  position:absolute;
  left:60px;
  top:57px;
  width:1885px;
  height:481px;
}
#u45 {
  position:absolute;
  left:2px;
  top:232px;
  width:1881px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
  color:#FFFFFF;
}
#u46 {
  position:absolute;
  left:60px;
  top:3591px;
  width:222px;
  height:100px;
  font-size:20px;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:2px;
  top:26px;
  width:218px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1120px;
}
#u48 {
  position:absolute;
  left:60px;
  top:3814px;
  width:550px;
  height:1120px;
}
#u49 {
  position:absolute;
  left:2px;
  top:552px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:852px;
}
#u50 {
  position:absolute;
  left:96px;
  top:3955px;
  width:477px;
  height:852px;
}
#u51 {
  position:absolute;
  left:2px;
  top:418px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u52 {
  position:absolute;
  left:303px;
  top:4517px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u54 {
  position:absolute;
  left:451px;
  top:4107px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u56 {
  position:absolute;
  left:148px;
  top:4306px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u58 {
  position:absolute;
  left:249px;
  top:4151px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FF6600;
}
#u60 {
  position:absolute;
  left:222px;
  top:4692px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FF6600;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u62 {
  position:absolute;
  left:451px;
  top:4746px;
  width:49px;
  height:36px;
}
#u63 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u64 {
  position:absolute;
  left:510px;
  top:4741px;
  width:45px;
  height:45px;
}
#u65 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u66 {
  position:absolute;
  left:395px;
  top:4742px;
  width:45px;
  height:45px;
}
#u67 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.337254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:361px;
  top:3970px;
  width:63px;
  height:22px;
}
#u70 {
  position:absolute;
  left:2px;
  top:3px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u71 {
  position:absolute;
  left:382px;
  top:3973px;
  width:22px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u73 {
  position:absolute;
  left:344px;
  top:3964px;
  width:34px;
  height:34px;
}
#u74 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u75 {
  position:absolute;
  left:414px;
  top:3967px;
  width:27px;
  height:27px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.337254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:472px;
  top:3969px;
  width:65px;
  height:23px;
}
#u79 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u80 {
  position:absolute;
  left:494px;
  top:3972px;
  width:22px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u82 {
  position:absolute;
  left:522px;
  top:3966px;
  width:28px;
  height:28px;
}
#u83 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u84 {
  position:absolute;
  left:451px;
  top:3963px;
  width:36px;
  height:36px;
}
#u85 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u86 {
  position:absolute;
  left:115px;
  top:3967px;
  width:25px;
  height:25px;
}
#u87 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:852px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.517647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:97px;
  top:3955px;
  width:476px;
  height:852px;
}
#u89 {
  position:absolute;
  left:2px;
  top:418px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:316px;
  height:277px;
}
#u91 {
  position:absolute;
  left:174px;
  top:4249px;
  width:308px;
  height:269px;
}
#u92 {
  position:absolute;
  left:2px;
  top:126px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:87px;
}
#u93 {
  position:absolute;
  left:292px;
  top:4331px;
  width:82px;
  height:87px;
}
#u94 {
  position:absolute;
  left:2px;
  top:36px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u95 {
  position:absolute;
  left:247px;
  top:4298px;
  width:173px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u97 {
  position:absolute;
  left:294px;
  top:4463px;
  width:78px;
  height:33px;
  font-size:12px;
  color:#FFFFFF;
}
#u98 {
  position:absolute;
  left:2px;
  top:9px;
  width:74px;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u99 {
  position:absolute;
  left:310px;
  top:4424px;
  width:46px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u101 {
  position:absolute;
  left:713px;
  top:4191px;
  width:391px;
  height:406px;
  font-size:14px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u103 {
  position:absolute;
  left:713px;
  top:4136px;
  width:25px;
  height:25px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u105 {
  position:absolute;
  left:331px;
  top:4230px;
  width:25px;
  height:25px;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1120px;
}
#u107 {
  position:absolute;
  left:59px;
  top:790px;
  width:550px;
  height:1120px;
}
#u108 {
  position:absolute;
  left:2px;
  top:552px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1120px;
}
#u109 {
  position:absolute;
  left:1102px;
  top:790px;
  width:550px;
  height:1120px;
}
#u110 {
  position:absolute;
  left:2px;
  top:552px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
